([
    (
        name: "Goblin",
        health: 10.0,
        // attack: 2.0,
        // defense: 1.0,
        speed: 1.0,
        sprite: "monsters/sprites/goblin.aseprite",
    ),
    (
        name: "SmallDemon",
        health: 20.0,
        // attack: 4.0,
        // defense: 2.0,
        speed: 1.0,
        sprite: "monsters/sprites/small_demon.aseprite",
    ),
])